@use "bulma";
@use "@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: rgba(1, 4, 9, 0.75);
  /*background-color: #0f1726;*/
  margin: 0;
  padding: 0;
}

#renderer {
  position: relative;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    //right: 0;
  }
}

$borderWidth: 10px;
$paddingRight: 10px;
$marginFromEdge: 20px;
$cornerRadius: 5px;

$menuMargin: 5px;
$menuItemMargin: 10px;

#ui {
  z-index: 100;
  pointer-events: none;
}

.menu-nav-bar {
  pointer-events: none;
  margin-top: $menuMargin;
  margin-left: $menuMargin;
  margin-right: $menuMargin;

  .column {
    &.right > :not(:first-child) {
      margin-right: $menuItemMargin;
    }

    &.left > :not(:first-child) {
      margin-left: $menuItemMargin;
    }
  }

  //.left {
  //  &> {
  //    margin-top: 10px;
  //    margin-left: 10px;
  //  }
  //}
  //
  //.center {
  //  margin-top: 10px;
  //}
  //
  //.right {
  //  margin-left: 0;
  //  margin-right: 10px;
  //}

  .dropdown {
    pointer-events: all;

    //&.is-right {
    //  margin-left: 0;
    //  margin-right: 10px;
    //}
  }
}

.dropdown {
  &.is-right {
    left: auto !important;
    right: 0;
  }
}

.disable-pointer {
  pointer-events: none;

  * {
    pointer-events: all;
  }
}

.enable-pointer {
  pointer-events: all;
}
